@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--primary-color: #3498db; /* Основной цвет */
	--text-color: #333; /* Цвет текста */
	--font-family: Arial, sans-serif; /* Шрифт */
}

/* Обнуление стилей */
html,
body {
	margin: 0;
	padding: 0;
}

/* Стили для body */
body {
	font-family: var(--font-family); /* Используем шрифт, определенный в :root */
	color: var(--text-color); /* Используем цвет текста, определенный в :root */
	background-color: #f8f8f8; /* Цвет фона */
}

/* Стили для ссылок */
a {
	color: var(--primary-color); /* Цвет ссылок */
	text-decoration: none; /* Убираем подчеркивание у ссылок */
}

a:hover {
	text-decoration: underline; /* Добавляем подчеркивание при наведении на ссылку */
}
